{% extends "base.html" %}
{% block content_left %}
{% if form.errors %}
<div class="border border-bittersweet-400 bg-bittersweet-800 m-2 p-2">
    <ul>
        {% for key, value in form.errors.items() %}
        <li>{{key}}: {{value}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form method="post">
    {{ form.csrf_token }}
    <!--{{ form.name }}-->
    <label for="{{ form.name.id }}">{{form.name.label}}: </label>    
    <input name="{{ form.name.name }}" id="{{ form.name.id }}" type="text" class="rounded-md {% if form.name.errors %}border-bittersweet-400{% endif %}" value="{{ form.name.data }}" />
    
    <label for="{{ form.parent_name.id }}">{{form.parent_name.label}}: </label>
    <!--<input name="{{ form.parent_name.name }}" id="{{ form.parent_name.id }}" type="text" class="rounded-md {% if form.parent_name.errors %}border-bittersweet-400{% endif %}" value="{{ form.parent_name.data }}" />-->
    <select name="{{ form.parent_name.name}}" id="{{ form.parent_name.id }}" class="rounded-md">
        <option value="">-- Bitte wählen --</option>
        {% for item in categories %}
        <option value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="bg-platinum-500 hover:bg-platinum-400 rounded-md shadow-sm p-2 m-2">
        Kategorie hinzufügen
    </button>
</form>
<div>
    <table class="table-auto rounded-md w-full shadow-lg">
        <thead>
            <tr class="bg-platinum-400">
                <th class="px-3 py-3 align-middle text-center">Name</th>
                <th class="px-3 py-3 align-middle text-center">Übergeordnete Kategorie</th>
            </tr>
        </thead>
        <tbody>
        {% for item in categories %}
            <tr class="odd:bg-platinum-500 even:bg-platinum-600 hover:bg-platinum-700">
                <td class="px-3 py-3 align-middle text-center">{{ item.name }}</td>
                <td class="px-3 py-3 align-middle text-center">{% if item.parent_category %}{{ item.parent_category.name }}{% else %}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content_left %}