<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link href="../css/output.css" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <div class="flex flex-col h-screen">
        <div class="basis-auto">
            <div class="flex items-baseline bg-oxford_blue text-white min-h-full">
                <a href="test.html" class="p-2">Menu 1</a>
                <a href="test.html" class="p-2">Menu 2</a>
            </div>
        </div>
        <div class="basis-11/12">
            <div class="flex flex-row min-h-full">
                <div class="basis-2/3 bg-platinum-800 rounded-md m-2 p-2">
                    {% if form.errors %}
                    <div class="w-full border border-bittersweet-400 bg-bittersweet-800 m-2 p-2 mr-3 pr-3">
                        <ul>
                            {% for key, value in form.errors.items() %}
                            <li>{{key}}: {{value}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form method="post">
                        {{ form.csrf_token }}
                        <!--{{ form.name }}-->
                        <label for="{{ form.name.id }}">{{form.name.label}}: </label>
                        {% if not form.name.errors %}
                            <input name="{{ form.name.name }}" id="{{ form.name.id }}" type="text" class="rounded-md" value="{{ form.name.data }}" />
                        {% endif %}
                        {% if form.name.errors %}
                            <input name="{{ form.name.name }}" id="{{ form.name.id }}" type="text" class="rounded-md border-bittersweet-400" value="{{ form.name.data }}" />
                        {% endif %}
                        <label for="{{ form.parent_name.id }}">{{form.parent_name.label}}: </label>
                        <input name="{{ form.parent_name.name }}" id="{{ form.parent_name.id }}" type="text" class="rounded-md" value="{{ form.parent_name.data }}" />
                        <button type="submit" class="bg-platinum-500 hover:bg-platinum-400 rounded-md shadow-sm p-2 m-2">
                            Kategorie hinzufügen
                        </button>
                    </form>
                    <div class="relative">
                        <table class="table-auto rounded-md w-full shadow-lg">
                            <thead>
                                <tr class="bg-platinum-400">
                                    <th class="px-3 py-3 align-middle text-center">Name</th>
                                    <th class="px-3 py-3 align-middle text-center">Übergeordnete Kategorie</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in categories %}
                                <tr class="odd:bg-platinum-500 even:bg-platinum-600 hover:bg-platinum-700">
                                    <td class="px-3 py-3 align-middle text-center">{{ item.name }}</td>
                                    <td class="px-3 py-3 align-middle text-center">test</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="basis-1/3 bg-khaki-800 rounded-md m-2 p-2">
                    test2
                </div>
            </div>
        </div>
        <div class="basis-auto">
            <div class="min-h-full">Version</div>
        </div>
    </div>
</body>
</html>